In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_excel("pokemon_data_dirty.xlsx")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45.0,49.0,49.0,65.0,65.0,45.0,1.0,0.0
1,Ivysaur,Grass,Poison,60.0,62.0,63.0,80.0,80.0,60.0,1.0,0.0
2,Venusaur,Grass,Poison,80.0,82.0,83.0,100.0,100.0,80.0,1.0,0.0
3,VenusaurMega Venusaur,Grass,Poison,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
796,Diancie,Rock,Fairy,50.0,100.0,150.0,100.0,150.0,50.0,6.0,1.0
797,DiancieMega Diancie,Rock,Fairy,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0
798,HoopaHoopa Confined,Psychic,Ghost,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0
799,HoopaHoopa Unbound,Psychic,Dark,80.0,160.0,60.0,170.0,130.0,80.0,6.0,1.0
800,Volcanion,Fire,Water,80.0,110.0,120.0,130.0,90.0,70.0,6.0,1.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   HP          800 non-null    float64
 4   Attack      800 non-null    float64
 5   Defense     800 non-null    float64
 6   Sp. Atk     800 non-null    float64
 7   Sp. Def     800 non-null    float64
 8   Speed       800 non-null    float64
 9   Generation  800 non-null    float64
 10  Legendary   800 non-null    float64
dtypes: float64(8), object(3)
memory usage: 69.0+ KB

In [6]:
df.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.00000
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,0.08125
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,0.27339
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,0.00000
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,0.00000
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,0.00000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,0.00000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,1.00000

In [7]:
for c in df.columns:
    print("Spalte",c)

Spalte Name
Spalte Type 1
Spalte Type 2
Spalte HP
Spalte Attack
Spalte Defense
Spalte Sp. Atk
Spalte Sp. Def
Spalte Speed
Spalte Generation
Spalte Legendary

In [10]:
df.duplicated()
df.duplicated().sum()

0

In [12]:
df.corr()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
HP,1.000000,0.422386,0.239622,0.362380,0.378718,0.175952,0.058683,0.273620
Attack,0.422386,1.000000,0.438687,0.396362,0.263990,0.381240,0.051451,0.345408
Defense,0.239622,0.438687,1.000000,0.223549,0.510747,0.015227,0.042419,0.246377
Sp. Atk,0.362380,0.396362,0.223549,1.000000,0.506121,0.473018,0.036437,0.448907
Sp. Def,0.378718,0.263990,0.510747,0.506121,1.000000,0.259133,0.028486,0.363937
Speed,0.175952,0.381240,0.015227,0.473018,0.259133,1.000000,-0.023121,0.326715
Generation,0.058683,0.051451,0.042419,0.036437,0.028486,-0.023121,1.000000,0.079794
Legendary,0.273620,0.345408,0.246377,0.448907,0.363937,0.326715,0.079794,1.000000

In [13]:
df.groupby(['Type 1']).count()

,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,69,52,69,69,69,69,69,69,69,69
Dark,31,21,31,31,31,31,31,31,31,31
Dragon,32,21,32,32,32,32,32,32,32,32
Electric,44,17,44,44,44,44,44,44,44,44
Fairy,17,2,17,17,17,17,17,17,17,17
Fighting,27,7,27,27,27,27,27,27,27,27
Fire,52,24,52,52,52,52,52,52,52,52
Flying,4,2,4,4,4,4,4,4,4,4
Ghost,32,22,32,32,32,32,32,32,32,32
Grass,70,37,70,70,70,70,70,70,70,70
Ground,32,19,32,32,32,32,32,32,32,32
Ice,24,11,24,24,24,24,24,24,24,24
Normal,98,37,98,98,98,98,98,98,98,98
Poison,28,13,28,28,28,28,28,28,28,28
Psychic,57,19,57,57,57,57,57,57,57,57
Rock,44,35,44,44,44,44,44,44,44,44
Steel,27,22,27,27,27,27,27,27,27,27
Water,112,53,112,112,112,112,112,112,112,112

In [21]:
df.groupby(['Type 1']).count().iloc[:,0]

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64